/* You can add global styles to this file, and also import other style files */

@import "assets/style/grid.css";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.bkg {
  width: 100%;
  min-height: 100%;
  height: auto;
  //background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: linear-gradient(-171deg, #7028E4 0%, #E5B2CA 97%);
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 24px;
    margin-bottom: 100px;
  }



  label {
    display: block;
    color: #fff;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    margin-top: 10px;
  }
