<div class="bkg">
	<div class="topnav" id="myTopnav">
		<div class="header">
			<a class="navbar-brand" href="admin">
				RocKing
			</a>
		</div>
	  <a href="/admin/reservaciones">Reservaciones</a>
	  <a class="active" href="/admin/karaoke">Karaoke</a>
	  <a href="/admin/comida">Comida</a>
	  <a href="/admin/cuentas">Cuentas</a>
		<a href="/admin/estadisticas">Estadisticas</a>
		<button (click)="doLogout()" class="logout"><img src="../assets/img/logout.png" width="20" height="20" alt="x" /></button>
	</div>
				<div class="c-accordion">

					<h1 class="title" >Karaoke</h1>
          <div class="row spaced">
            <div class="col xs2 padded table">
              <p></p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Nombre</p>
            </div>
            <div class="col xs2  padded-1 table">
              <p>Artista</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Cliente</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Reproducir</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Borrar</p>
            </div>
          </div>
          <div class="row spaced item" *ngFor="let cancion of lista">
            <div class="col xs2 padded-1">
							<img class="portada" src={{cancion.portada}} alt="Mountain View">
						</div>

            <div class="col xs2 padded-1">{{cancion.nombre}}</div>
              <div class="col xs2 padded-1">{{cancion.artista}}</div>
            <div class="col xs2 padded-1">{{cancion.usuario}}</div>
            <div class="col xs2 padded-1"><button class="button"><img src="../assets/img/play.png" width="20" height="20" alt="x" /></button></div>
            <div class="col xs2 padded-1"><button (click)="eliminar(cancion)" class="button"><img src="../assets/img/trash.png" width="20" height="20" alt="x" /></button></div>
          </div>
				</div>
			</div>
