<ion-header>

  <ion-navbar class="navbar">
    <ion-buttons start>
      <button (click)="doLogout()" ion-button clear><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
    <ion-title>Cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div  class="bkg">
    <div class="cuenta" *ngIf="ordenados">
        <h3>Total: {{total}}</h3>
      <div class="productos" *ngFor="let producto of ordenados">
          <p class="nombre-producto">{{producto.nombre}}</p>
          <p class="precio-producto">${{producto.precio}}</p>
      </div>
    </div>
  </div>

</ion-content>
