<ion-header>

  <ion-navbar class="navbar">
    <ion-buttons start>
      <button (click)="doLogout()" ion-button clear><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
    <ion-title>Lista de canciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div  class="bkg">
    <div class="lista-cantar" *ngIf="canciones">
      <div class="turno" *ngFor="let cancion of canciones.items">
          <p class="nombre-cancion">{{cancion.track.name}}</p>
          <p class="nombre-cancion">Album: {{cancion.track.album.name}}</p>
          <p class="nombre-cancion">Artista: {{cancion.track.artists[0].name}}</p>
          <button (click)="inscribirLista(cancion)" ion-button clear><ion-icon name ='microphone'></ion-icon></button>
      </div>
    </div>
  </div>

</ion-content>
