<div class="bkg">
	<div class="topnav" id="myTopnav">
		<div class="header">
			<a class="navbar-brand" href="admin">
				RocKing
			</a>
		</div>
	  <a href="/admin/reservaciones">Reservaciones</a>
	  <a href="/admin/karaoke">Karaoke</a>
	  <a class="active" href="/admin/comida">Comida</a>
	  <a href="/admin/cuentas">Cuentas</a>
		<a href="/admin/cuentas">Estadisticas</a>
	</div>
				<div class="c-accordion">

              <h1 class="title" >Nuevo Producto</h1>

              <div class="row spaced">
                <div class="row spaced">
                  <label for="name" class="label1">Nombre</label>
                </div>
                <div class="row spaced">
                  <input #newName type="text" class="form form-control" name="nameComida" required>
                </div>
                <div class="row spaced">
                  <label for="precio" class="label1">Precio</label>
                </div>
                <div class="row spaced">
                  <input #newPrecio type="text" class="form form-control" name="precioComida" required>
                </div>
								<div class="row spaced">
                  <label for="precio" class="label1">Tipo:</label>
									<div class="row spaced">
										<select class="drop">
	  									<option class="option" value="platillo">Platillo</option>
	  									<option class="option" value="bebida">Bebida</option>
										</select>
	                </div>
                </div>

                <br>
                <div class="row spaced">
                    <button (click)="crearComida()" type="button" class=" button">Agregar</button>
                </div>
              </div>
				</div>
	</div>
