<div class="bkg">
	<div class="topnav" id="myTopnav">
		<div class="header">
			<a class="navbar-brand" href="admin">
				RocKing
				<img src="http://flaticons.net/icons/Election/Mike.png" width="40px" height="40px" class="d-inline-block align-top" alt="">
			</a>
		</div>
	  <a href="/admin/reservaciones">Reservaciones</a>
	  <a href="/admin/karaoke">Karaoke</a>
	  <a class="active" href="/admin/comida">Comida</a>
	  <a href="/admin/cuentas">Cuentas</a>
	</div>
				<div class="c-accordion">

              <h1 class="title" >Nuevo Producto</h1>

              <div class="row spaced">
                <div class="row spaced">
                  <label for="name" class="label1">Name</label>
                </div>
                <div class="row spaced">
                  <input #newName type="text" class="form form-control" name="nameComida" required>
                </div>
                <div class="row spaced">
                  <label for="precio" class="label1">Precio</label>
                </div>
                <div class="row spaced">
                  <input #newPrecio type="text" class="form form-control" name="precioComida" required>
                </div>

                <br>
                <div class="row spaced">
                    <button (click)="crearComida(newName.value, newPrecio.value)" type="button" class=" button">Agregar</button>
                </div>
              </div>
				</div>
	</div>
