<ion-header>

  <ion-navbar class="navbar">
    <ion-buttons start>
      <button (click)="doLogout()" ion-button clear><ion-icon name="log-out"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="nueva()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reservaciones</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="bkg">
    <div class="lista-reservaciones" *ngIf="reservaciones">
      <div class="reservacion" *ngFor="let reservacion of reservaciones">
        <h2 class="nombre-reservacion">{{reservacion.nombre}}</h2>
        <p class="fecha-reservacion">{{reservacion.fecha}} {{reservacion.hora}}</p>
        <p class="mesa-reservacion">Mesa para {{reservacion.asistentes}} personas</p>
        <div class="acciones-reservacion">
          <button ion-button clear (click)="eliminar(reservacion)"><ion-icon name="trash"></ion-icon></button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
