<div class="bkg">
	<div class="topnav" id="myTopnav">
		<div class="header">
			<a class="navbar-brand" href="admin">
				RocKing
			</a>
		</div>
	  <a href="/admin/reservaciones">Reservaciones</a>
	  <a href="/admin/karaoke">Karaoke</a>
	  <a href="/admin/comida">Comida</a>
	  <a class="active" href="/admin/cuentas">Cuentas</a>
		<a href="/admin/estadisticas">Estadisticas</a>
	</div>
				<div class="c-accordion">

              <h1 class="title" >Cuentas</h1>
							<button (click)="buscar()" class="button bloque"><img src="../assets/img/view.png" width="20" height="20" alt="x" /></button>
							<input class= "bloque" type="date" name="fecha2">
							<input class= "bloque" type="date" name="fecha1">

          <div class="row spaced">
            <div class="col xs2 padded table">
              <p>Mesa</p>
            </div>
            <div class="col xs3 padded-1 table">
              <p>Cliente</p>
            </div>
            <div class="col xs3 padded-1 table">
              <p>Fecha</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Total</p>
            </div>
          </div>
          <div class="row spaced item" *ngFor="let cuenta of cuentas">
            <div class="col xs2 padded-1">{{cuenta.mesa}}</div>
            <div class="col xs3 padded-1">{{cuenta.usuario}}</div>
            <div class="col xs3 padded-1">{{cuenta.fecha}}</div>
            <div class="col xs2 padded-1">${{cuenta.total}}</div>

          </div>
				</div>
			</div>
