<div class="bkg">
	<div class="topnav" id="myTopnav">
		<div class="header">
			<a class="navbar-brand" href="admin">
				RocKing
				<img src="http://flaticons.net/icons/Election/Mike.png" width="40px" height="40px" class="d-inline-block align-top" alt="">
			</a>
		</div>
	  <a href="/admin/reservaciones">Reservaciones</a>
	  <a href="/admin/karaoke">Karaoke</a>
	  <a href="/admin/comida">Comida</a>
	  <a class="active" href="/admin/cuentas">Cuentas</a>
	</div>
				<div class="c-accordion">

              <h1 class="title" >Cuentas</h1>

          <div class="row spaced">
            <div class="col xs3 padded table">
              <p>Mesa</p>
            </div>
            <div class="col xs3 padded-1 table">
              <p>Cliente</p>
            </div>
            <div class="col xs3 padded-1 table">
              <p>Hora</p>
            </div>
            <div class="col xs3 padded-1 table">
              <p>Total</p>
            </div>
          </div>
          <div class="row spaced item" *ngFor="let cuenta of cuentas">
            <div class="col xs3 padded-1">{{cuenta.mesa}}</div>
            <div class="col xs3 padded-1">{{cuenta.cliente}}</div>
            <div class="col xs3 padded-1">{{cuenta.hora}}</div>
            <div class="col xs3 padded-1">${{cuenta.total}}</div>
          </div>
				</div>
			</div>
<div class="footer">
  <button type="button" class=" new">+</button>
</div>
