<div class="bkg">
	<div class="topnav" id="myTopnav">
		<div class="header">
			<a class="navbar-brand" href="admin">
				RocKing
			</a>
		</div>
	  <a class="active" href="/admin/reservaciones">Reservaciones</a>
	  <a href="/admin/karaoke">Karaoke</a>
	  <a href="/admin/comida">Comida</a>
	  <a href="/admin/cuentas">Cuentas</a>
		<a href="/admin/estadisticas">Estadisticas</a>
	</div>
				<div class="c-accordion">

					<h1 class="title" >Reservaciones</h1>
          <div class="row spaced">
            <div class="col xs2 padded table">
              <p>Evento</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Cliente</p>
            </div>
            <div class="col xs2  padded-1 table">
              <p>Fecha</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Inicio</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Asistentes</p>
            </div>
            <div class="col xs2 padded-1 table">
              <p>Borrar</p>
            </div>
          </div>
          <div class="row spaced item" *ngFor="let reservacion of reservaciones">
            <div class="col xs2 padded-1">{{reservacion.evento}}</div>

            <div class="col xs2 padded-1">{{reservacion.cliente}}</div>
              <div class="col xs2 padded-1">{{reservacion.fecha}}</div>
            <div class="col xs2 padded-1">{{reservacion.inicio}}</div>
						<div class="col xs2 padded-1">{{reservacion.asistentes}}</div>
            <div class="col xs2 padded-1"><button (click)="eliminar(reservacion)" class="button"><img src="https://maxcdn.icons8.com/Share/icon/p1em/Editing//trash1600.png" width="20" height="20" alt="x" /></button></div>
          </div>
				</div>
			</div>
