<div class="bkg">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-center">
      <a class=" header navbar-brand" href="#">
        RocKing
        <img src="http://flaticons.net/icons/Election/Mike.png" width="40px" height="40px" class="d-inline-block align-top" alt="">
      </a>
    </nav>

    <div align="center" class="container">
      <hr class="inicio-sesion">
        <h1 class="inicio-sesion">RocKing</h1>
        <img src="http://flaticons.net/icons/Election/Mike.png" width="50px" height="50px" alt="">
      <hr>

        <div align="center">
            <div align="center" class="col">
                <br>
              <div>
                <input class="form-control textarea" id="ex3" type="text" placeholder="Nombre de Usuario" name="usuario">
              </div>
                <br>
              <div>
                <input class="form-control textarea" id="ex3" type="password" placeholder="Contraseña" name="contraseña">
              </div>
                <br>
              <button (click)="login()" type="button" class=" button">Login</button>
            </div>
        </div>

    </div>

    <!-- Marca sección para el Mustache template -->
    <div class="container ">
      <div class="c-accordion justify-content-center">

      </div>
    </div>
</div>
