<div class="bkg">
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded justify-content-center">
			<a class=" header navbar-brand" href="#">
				RocKing
				<img src="http://www.iconsdb.com/icons/preview/gray/microphone-2-xxl.png" width="30" height="30" class="d-inline-block align-top" alt="">
			</a>
		</nav>

		<div align="center" class="container">
			<hr class="inicio-sesion">
			<h1 class="inicio-sesion">RocKing</h1>
			<hr>

				<div align="center">

	    			<div align="center" class="col">
							<br>
	    			<input type="image" src="https://www.santeshoes.com/media/fb_loginv2.png" alt="Submit" width="120px" height="35px">
						<br>
						<br>
	    				<div>
	    					<input class="form-control textarea" id="ex3" type="text" placeholder="Nombre de Usuario">
	    				</div>
							<br>
	    				<div>
	    					<input class="form-control textarea" id="ex3" type="text" placeholder="Contraseña">
	    				</div>
							<br>
	    				<button type="button" class=" button">Login</button>

    				</div>

    				<div class="col">

    				</div>
				</div>

		</div>

    <!-- Marca sección para el Mustache template -->
    <div class="container ">
      <div class="c-accordion justify-content-center">

      </div>
    </div>
</div>
